[submodule "NewRL/tmco12"]
	path = NewRL/tmco12
	url = git@github.com:NewRL/tmco12.git
	branch = main

[submodule "RLJO/Car-Rental"]
	path = RLJO/Car-Rental
	url = git@github.com:RLJO/Car-Rental.git
	branch = live

[submodule "RLJO/r12"]
	path = RLJO/r12
	url = git@github.com:RLJO/r12.git
	branch = Main2
